.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Asset21.png");
  background-position: 50% 25.54%;
}

.u-section-1 .u-sheet-1 {
  min-height: 740px;
}

.u-section-1 .u-group-1 {
  width: 963px;
  min-height: 605px;
  margin: 78px auto 57px 17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  background-image: none;
  margin: 57px 17px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  letter-spacing: 1.2px;
  background-image: none;
  text-transform: none;
  margin: 57px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 1.25rem;
  background-image: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  margin: 60px auto 0 0;
  padding: 13px 58px 14px 57px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 69.77% 25.54%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-1 .u-group-1 {
    width: 522px;
    min-height: 760px;
    margin-top: 108px;
    margin-bottom: 37px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 16px;
    margin-right: -71px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 49px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-left: -10px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    background-position: 78.36% 25.54%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -173px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 57.2% 25.53%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-1 .u-group-1 {
    width: 323px;
    min-height: 334px;
    margin-left: 18px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -223px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 81.76% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
    min-height: 531px;
    margin-top: 113px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 43px;
    margin-right: -77px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 70px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 70px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 622px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 6.875rem;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 0.8;
  animation-duration: 750ms;
  margin: -10px 105px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  animation-duration: 750ms;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 622px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 48px;
  animation-duration: 750ms;
  margin: -18px 36px 0 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 0px;
  line-height: 1.8;
  text-transform: none;
  font-size: 1.25rem;
  animation-duration: 750ms;
  margin: 11px 36px 0 0;
}

.u-section-2 .u-image-1 {
  height: 262px;
  width: 467px;
  margin: 26px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 513px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 513px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    width: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -40px;
    margin-left: 8px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 190px;
    width: 340px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 46px;
    margin-bottom: 46px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.0625rem;
    margin-top: 29px;
  }

  .u-section-2 .u-text-3 {
    line-height: 1;
    margin-top: -16px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.0625rem;
    width: auto;
    margin-top: 29px;
  }

  .u-section-2 .u-image-1 {
    height: 179px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/57e5d5474954a814f6da8c7dda793678153bdee757596c48732f7cd5904fc75ebe_1280.jpg");
  background-position: 50% 50%;
  min-height: 764px;
}

.u-section-3 .u-image-1 {
  height: 31px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 43px 161px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 49px 161px 0;
}

.u-section-3 .u-list-1 {
  min-height: 364px;
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  width: 1017px;
  grid-gap: 30px 30px;
  margin: 72px auto 60px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px -2px 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px -2px 0;
}

.u-section-3 .u-text-6 {
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 750ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px -2px 0;
}

.u-section-3 .u-text-8 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 723px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-list-1 {
    min-height: 336px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 1099px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-list-1 {
    min-height: 772px;
    grid-template-columns: calc(((100% - 720px) / 2) + 345px) calc(((100% - 720px) / 2) + 345px);
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 1450px;
  }

  .u-section-3 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-2 {
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-list-1 {
    min-height: 1077px;
    grid-template-columns: 100%;
    width: 406px;
    margin-top: 36px;
    margin-bottom: 35px;
    margin-left: calc(((100% - 1140px) / 2) + 367px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 1462px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.5rem;
    width: 340px;
    margin-top: 59px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5625rem;
    margin-top: 64px;
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-3 .u-list-1 {
    min-height: 1009px;
    width: 319px;
    margin-top: 39px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/Asset191.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 583px;
}

.u-section-4 .u-image-1 {
  width: 129px;
  height: 150px;
  animation-duration: 1000ms;
  margin: 55px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  background-image: none;
  font-style: normal;
  font-size: 3rem;
  width: 737px;
  margin: 16px auto 0;
}

.u-section-4 .u-text-2 {
  background-image: none;
  font-weight: normal;
  font-size: 1.5rem;
  width: 660px;
  margin: 41px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  background-image: none;
  border-style: none;
  font-weight: 500;
  animation-duration: 750ms;
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.1);
  text-transform: none;
  margin: 53px auto 60px;
  padding: 15px 43px 16px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 50px;
    margin-left: 406px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 102px;
    margin-right: 102px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 49px;
    margin-left: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 261px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 296px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 251px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 155px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 206px;
  }

  .u-section-4 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-position: 44.17% 50%;
    min-height: 37px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    margin-left: 106px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 32px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.0625rem;
    margin-top: 40px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 58px;
    margin-left: 61px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/234423.png");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 619px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 513px;
  margin: 53px 0 53px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 55px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 28px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: linear-gradient(to right, #fbdd94, #ff6c6c);
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  animation-duration: 1000ms;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,0.25);
  font-weight: 700;
  margin: 28px 0 0 auto;
  padding: 15px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    background-position: 30.88% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-5 .u-group-1 {
    min-height: 519px;
    margin-top: 78px;
    margin-bottom: 119px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    background-position: 25.26% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-5 .u-group-1 {
    min-height: 544px;
    margin-top: 125px;
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: -17px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    background-position: 19.54% 0%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-5 .u-group-1 {
    min-height: 615px;
    margin-top: 75px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    margin-top: 185px;
    margin-left: -30px;
    margin-right: -30px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 82px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 84px;
    margin-right: auto;
    margin-bottom: -29px;
  }
}